{{ ansible_managed | comment }}

{% set conf = lookup('vars', item.config) %}
{% for key in conf %}
{% if 'NodeName' in key %}
NodeName={{ key['NodeName'] }}{% for key in key | sort %}{% if key != 'NodeName' %} {{ key }}={{ key[key] }}{% endif %}{% endfor %}
{% else %}
{% set val = conf[key] %}
{% if val is not none and val != omit %}
{{ key }}={{ 'yes' if val is sameas true else ('no' if val is sameas false else val) }}
{% endif %}
{% endif %}
{% endfor %}
